/* My Homepage Stylin'
   ----------------------------------------------------- */

/* Tags
   ------------------------------ */
* {
    font-family: 'Source Sans Pro', 'Fira Sans', Verdana, Helvetica, sans-serif;
    font-size: 12px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
}
html {
    font-size: 100.01%;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1.0rem;
}
a, a:link {
    color: #4DABD1;
    text-decoration: underline;
}
a:visited {
    color: #6D4084;
}
hr {
    border-right: none;
    width: 30%;
}
h1, h2, h3, h4, h5 {
    font-family: 'Fira Sans';
}
h1 {
    font-size: 4.0em;
    font-weight: 200;    
}
h2 {
    font-size: 2.2em;
    font-weight: 400;
}
h3 {
    font-size: 1.8em;
    font-weight: 400;
}
h4 {
    font-size: 1.4em;
    font-weight: 400;
}
li, ul {
    display: inline-block;
    list-style: none;
    text-decoration: none;
}
p {
    display: inline-block;
    box-sizing: border-box;
    border: 12px solid transparent;
}
table {
    padding: 12px;
    text-align: left;
}
tr > * {
    padding: 0 12px 12px 0;
}
td {
    vertical-align: text-top;
}
th {
    min-width: 180px;
    font-size: 18px;
    vertical-align: text-top;
}

/* UI
   ------------------------------ */
.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
}
.genericon {
    vertical-align: text-bottom;
    margin-right: 4px;
    font-size: 24px;
    color: #222;
}
.genericon-twitter {
    color: #55ACEE;
}

.head {
    font-family: 'Fira Sans';
    font-size: 18px;
    font-weight: 600;
}
.horizontal p {
    width: 75%;
}
.horizontal .head {
    box-sizing: border-box;
    border: 12px solid transparent;
    width: 200px;
}
.horizontal .row > * {
    display: inline-block;
    vertical-align: text-top;
}

.five-col > ul {
    width: 19.5%;
}
.vertical ul {
    display: inline-block;
    padding: 12px 0 0;
    vertical-align: top;
}
.vertical li {    
    width: 100%;
    padding: 3px 0 ;
    text-align: center;
}
.vertical .head {
    min-height: 52px;
}


/* Main
   ------------------------------ */
#wrap {

}
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}
#header {
    padding: 180px 0;
    background-color: #6D4084;
    text-align: center;
}
#header h2 {
    font-size: 3.4em;
    font-weight: 200;
}
#title {
    color: #eee;
}
#subtitle {
    color: #fff;
}
#footer {
    padding: 60px 0;
    background-color: #6D4084;
}

/* Nav bar
   ------------------------------ */
#nav {
    border-top: 4px solid #6D4084;
    border-bottom: 1px solid #ccc;
    background-color: #fff;

}
#nav * {
    font-family: 'Fira Sans';
}
#nav-wrap {
    display: block;
}
#nav-wrap li {
    position: relative;
    padding: 12px 8px;
}
#nav-wrap li > ul {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
}
.sub {
    left: 0;
    top: 100%;
}
.subsub {
    left: 100%;
    top: -1px;
}
#nav-wrap li > ul > li {
    padding: 12px;
    width: 120px;
}
#nav-wrap li:hover {
    background-color: #555;
}
#nav-wrap li:hover > ul {
    display: inline-block;
    border: 1px solid #777;
    background-color: #444;
}
#nav-wrap ul:hover {
    display: inline-block;
}
#nav-wrap li:hover > a,
#nav-wrap li:hover > ul > li > a {
    color: #fff;
}
#nav-wrap a {
    color: #333;
}
#nav-wrap a,
#nav-wrap a:visited {
    text-decoration: none;
}

/* Content
   ------------------------------ */
#main {
    margin: 0 0 48px;
    min-height: 100vh;
    background-color: #fff;
}
#main > div {
    padding: 48px 0 0;
    background-color: #fff;
}

#about {

}
#about > p {
    vertical-align: top;
}
#intro {
    width: 35%;
}
#site-intro {
    width: 64.5%;
}

#contact {

}
#contact span.genericon {
    margin-left: 18px;
}

#skills {

}
#skills tr:nth-child(even) > * {
    padding: 0 12px 24px 0;
}

#software {

}

#projects {

}
#completed h3 {
    color: #00A714;
}
#in-progress h3 {
    color: #DBAA00;
}
#experiments h3 {
    color: #BC7129;
}
#projects > div > div {
    padding: 0 0 12px;
}
#projects h3 {
    padding: 12px 24px;
}

/* Mobile
   ------------------------------ */
@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi) {

}

