body {
	font-family: 'Ek Mukta', sans-serif;
	overflow-x: hidden;
}
h1{
	margin: 0;
    font-family: 'Ek Mukta', sans-serif;
	font-size: 4em;
	font-weight: 400;
	text-align: center;
	padding-bottom:30px;
}
h2 {
	font-family: 'Ek Mukta', sans-serif;
	font-weight:400;
	font-size: 1.8em;
	margin: 0;
}
h3 {
	font-family: 'Ek Mukta', sans-serif;
	font-weight:400;
	margin: 0;
	font-size: 1em;
}
ul {
	padding-left: 0;
	margin: 0;
}
hr {
	border-top: 1px solid grey;
}
img {
	border-radius:15px;
	max-width:100%;
	height:auto;
	max-height:450px;
}
.pagetitle img{
	padding:2em;
	border-radius:60px;
	float:none;

}
.pagetitle {
	color: white;
	font-family: 'Ek Mukta', sans-serif;
	font-size: 1em;
	text-align: center;
	font-weight:600;
	padding:0;
	background-color: #1E1E1E;
}
.pagetitle p{
	text-align:left;
	font-weight: 200;
	margin: 1em 0;
	font-size:1.2em;
}
.pagetitle .container{
	max-width: 800px;
}
.navbar hr{
	border-color: #91C55D;
	width:25em;
	margin-top:1em;
}
.navbar .highlight{
	color: #91C55D;
}
.navbar {
	color:white;
	background-color: #1E1E1E;
	margin:0;
	position:relative;
	width:100%;
	z-index:1;
	border-radius:0;
}
.navbar {
	background: linear-gradient(#1E1E1E, #2F2F2F);
	border:0px;
}
.navbar a{
	text-decoration:none;
	color:white;
	margin: 0 1em;
}
.navbar a:hover{
	color: #91C55D;
}
.navbar h1{
	padding:0;
	margin:1em;
	font-size:1.5em;
}
.sponsors img{
	margin: 2em 0;
	padding: 0;
	max-width: 250px;
	border-radius:0;
}
img.presenting{
	max-width:450px;
}
img.platinum{
	max-width:400px;
}
img.gold{
	max-width:400px;
}
img.silver{
	max-width:300px;
}
.container-fluid {
	background-color: #EDEDED;
	border-radius: 45px;
	padding: 25px;
	margin: 15px;
}
.row {
	margin-right:0; /*fix for teams overflowing for some reason*/
}
.col-centered {
	display:inline-block;
	float:none;
	/* inline-block space fix */
    margin-right:-4px;
}
.btn {
	background-color: #1E1E1E;
	border-color: #2F2F2F;
}
.btn:hover{
	background-color:#3F3F3F;
}
.background {
	width: 100%;
	border-radius:0;
	margin:0;
	padding:2em 0 2em 0;
	background-color: #91C55D;
}
.background:nth-child(even) {
	background-color: #91C55D;
}
.background:nth-child(odd) {
	background-color: #1E1E1E; 
	color:white;
}
.checkfront{
	border-radius: 15px;
	background-color: white;
}
.sponsors .CaffeFantastico{
	border-radius:15px;
}
.sponsors .biketowork{
	border-radius:15px;
}
.sponsors .vecima{
	border-radius:15px;
}
.sponsors .Checkfront {
	border-radius: 15px;
	background-color: white;
	padding: 5px;
}
.sponsors .CubeGlobalStorage {
	border-radius: 15px;
	background-color: white;
	padding: 5px;
}
.sponsors .LifeStyleMarkets {
	border-radius:15px;
}
.sponsors .keystone {
	border-radius:15px;
}
.sponsors .tesseract{
	border-radius:15px;
}
.sponsors .mowtime, 
.sponsors .SierraSystems, 
.sponsors .revenuewire,
.sponsors .seriouslycreative,
.sponsors .AutomaticBody,
.sponsors .CIPS,
.sponsors .devocean, 
.sponsors .ClearSky {
	border-radius: 15px;
}
@media screen and (min-width: 992px) {
	.container-fluid {
		width: 970px;
		margin-left: auto;
		margin-right: auto;
	}
	.form-horizontal .control-label{
		text-align:left;
	}
}
@media screen and (min-width: 1200px) {
	.container-fluid {
		width: 1170px;
	}
}
@media screen and (max-width: 600px) {
	body {
		font-size: 1.5em;
	}
	.navbar h1{
		font-size:1em;
	}
	.pagetitle p{
		font-size:1em;
	}
	.navbar hr{
		width:15em;
	}
	img{
		max-width:100% !important;
	}
}
li.team {
	padding:20px;
	list-style: none;
	border-bottom:1px solid grey;
}
li.team:last-child{
	border-bottom: 0px;
}
.team_picture img {
	height: 200px\9;
	max-height: 200px;
	max-width: 100%;
	margin: 15px;
}
.team_dialog {
	margin: 15px 0;
}
p {
	font-size: 1.5em;
}
#timetable {
	font-size: 1.2em;
	max-width: 38em;
	margin-left: auto;
	margin-right: auto;
	
}
#timetable>tbody>tr>td {
	padding: 4px 14px;
}
#timetable>tbody>tr>td:first-child {
	text-align: right;
}
.center {
	vertical-align: middle;
	text-align: center;
}
footer {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer a {
	color: #40A7FF;
}
footer a:focus, footer a:hover {
	color: #357FC2;
}

canvas {
  -webkit-transform: translateZ(0);
}
